/*
 * Part of TI-Planet's Project Builder
 * (C) Adrien "Adriweb" Bertrand
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

html {
    height: 100%;
}

body {
    background: #F0F0F0;
    height: 100%;
    min-width: 1024px;
    min-height: 550px;
    overflow: hidden;
    font-size: 15px;
}

#contentcontainer {
    width: 100%;
    height: 100%;
}

#statusbar_left {
    border-top: 2px grey solid;
    font-size: .9em;
    position: absolute;
    bottom: 0;
    margin-left: -6px;
    width: 294px;
    background-color: #f0f0f0;
}

#statusbar_left span.copyright {
    float: right;
    padding-right: 5px;
    margin-top: 1px;
}

#leftSidebar {
    float: left;
    padding: 6px;
    width: 296px;
    height: 100%;
    border-right: 2px grey solid;
}

.sidebarToggle {
    width: 8px;
    height: 40px;
    background: #555;
    position: relative;
    top: 50%;
    border-radius: 4px;
    cursor: pointer;
    z-index: 9;
}

.sidebarToggle:before, .sidebarToggle:after {
    color: lightgrey;
    font-size: 0.7em;
    position: relative;
}
.sidebarToggle:before {
    content: '<';
    left: 1px;
    top: 0.4em;
}
.sidebarToggle:after {
    content: '>';
    top: 1.1em;
    left: -.5em;
}

#leftSidebarToggle {
    float: left;
    right: 5px;
}

#rightSidebarToggle {
    float: right;
    right: 345px;
}

#rightSidebarBorder {
    height: 100%;
    float: right;
    border-right: 2px grey solid;
    right: 340px;
    position: relative;
    z-index: 1;
}

div.wrapper {
    height: 100%;
    margin-left: 295px;
    padding: 6px 350px 10px 2px;
    display: flex;
    flex-direction: column;
}

/**********************************/

.sidebarListHeader {
    height: 23px;
}

#projectListHeader {
    margin-top: 20px;
}

#projectList {
    max-height: 50%;
    overflow: auto;
}

#projectList li {
    margin-bottom: 2px;
}

#currentProject {
    margin-left: 1.75em;
    background-color: #DFDFDF;
    box-shadow: -3px 2px 6px 3px #DFDFDF;
}