/*
 * Part of TI-Planet's Project Builder
 * (C) Adrien "Adriweb" Bertrand
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

html {
    height: 100%;
}

body {
    background: #F0F0F0;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#contentcontainer {
    width: 100%;
    height: calc(100% - 23px);
}

#statusbar {
    border-top: 2px grey solid;
    font-size: .9em;
    background-color: rgba(0,0,0,.05);
}

#statusbar span.copyright {
    float: right;
    padding-right: 5px;
    margin-top: 1px;
}

#leftSidebar {
    float: left;
    padding: 6px;
    width: 290px;
    height: 100%;
    border-right: 2px grey solid;
}

.sidebarToggle {
    width: 8px;
    height: 40px;
    background: #555;
    position: relative;
    top: 50%;
    border-radius: 4px;
    cursor: pointer;
    z-index: 9;
}

#leftSidebarToggle {
    float: left;
    right: 5px;
}

#rightSidebarToggle {
    float: right;
    right: 245px;
}

#rightSidebarBorder {
    height: 100%;
    float: right;
    border-right: 2px grey solid;
    right: 240px;
    position: relative;
    z-index: 1;
}

div.wrapper {
    height: 100%;
    margin-left: 295px;
    padding: 6px 250px 10px 2px;
    display: flex;
    flex-direction: column;
}

/**********************************/

#projectListHeader {
    height: 23px;
}

#projectList {
    max-height: 50%;
    overflow: auto;
}

#projectList li {
    margin-bottom: 2px;
}