/*
 * Part of TI-Planet's Project Builder
 * (C) Adrien "Adriweb" Bertrand
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

div.CodeMirror, div.firepad {
    height: 100%;
}

#rightSidebar, #rightSidebarToggle {
    display: none !important;
}

.CodeMirror .cm-bbcode-inline-bold {
    font-weight: 700;
}

.CodeMirror .cm-bbcode-inline-italic {
    font-style: italic;
}

.CodeMirror .cm-bbcode-inline-decoration-underline {
    text-decoration: underline;
}

.CodeMirror .cm-bbcode-inline-decoration-strikethrough {
    text-decoration: line-through;
}

.CodeMirror .cm-bbcode-inline-decoration-both {
    text-decoration: underline line-through;
}
